@page "/projectleadportal"
@using BlazorApp.Models.Dtos
@using Microsoft.AspNetCore.Components.Rendering
@rendermode @(new InteractiveServerRenderMode(prerender: false))

<AuthorizeView Roles="12" Context="authContext">
    <Authorized>
        @if (Associations is not null)
        {
            <!-- Modal to Add Association -->
            <div class="modal fade" id="AddAssociationModal" tabindex="-1" data-bs-backdrop="static" aria-labelledby="AssociationModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="AddAssociationModalLabel">Assoiation Details</h1>
                            <button type="button" class="btn-close" @onclick="HideModal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            <EditForm Model="@AddAssociationForm" OnValidSubmit="AddAssociationSubmitHandler" class="p-3">
                                <DataAnnotationsValidator />
                                <!-- User Selection -->
                                <div class="row mb-3 align-items-center ">
                                    <div class="col-auto">
                                        <label for="User" class="col-form-label">Select a User:</label>
                                    </div>
                                    <div class="col-auto">
                                        <InputSelect id="User"
                                        @bind-Value="UserId_BindValue"
                                        class="form-select"
                                        style="width: 250px; height: 40px;">
                                            <option value="0">-- Select --</option>
                                            @if (ActiveUsers is not null)
                                            {
                                                @foreach (var user in ActiveUsers)
                                                {
                                                    <option value="@user.UserId">@user.UserName</option>
                                                }
                                            }
                                            else
                                            {
                                                <option value="">No Users Found</option>
                                            }
                                        </InputSelect>
                                        <ValidationMessage For="@(() => AddAssociationForm.UserId)" />
                                    </div>
                                </div>

                                <!-- Project Selection -->
                                <div class="row mb-3 align-items-center">
                                    <div class="col-auto">
                                        <label for="Role" class="col-form-label">Select a Role:</label>
                                    </div>
                                    <div class="col-auto">
                                        <InputSelect id="Role"
                                        @bind-Value="AddAssociationForm.RoleId"
                                        class="form-select"
                                        style="width: 250px; height: 40px;">
                                            <option value="0">-- Select --</option>
                                            @if (AvailableRoles is not null)
                                            {
                                                @foreach (var role in AvailableRoles)
                                                {
                                                    <option value="@role.RoleId">@role.RoleName</option>
                                                }
                                            }
                                            else
                                            {
                                                <option value="">Select User</option>
                                            }
                                        </InputSelect>
                                        <ValidationMessage For="@(() => AddAssociationForm.RoleId)" />
                                    </div>
                                </div>

                                <!-- Buttons -->
                                <div class="modal-footer">
                                    <button type="submit" class="btn btn-primary">Add Association</button>
                                    <button type="button" class="btn btn-secondary" @onclick="HideModal" >Close</button>
                                </div>
                            </EditForm>
                        </div>
                    </div>
                </div>
            </div>

            <NavBar Title="Project Lead Portal" UserName="@SessionDetails.UserName" UserProject="@PLDetails.ProjectName" />

            <div class="toast-container position-fixed bottom-0 end-0 p-3">
                <div id="savepreferenestoast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
                    <div class="toast-header">
                        <img src="..." class="rounded me-2" alt="...">
                        <strong class="me-auto">Toast</strong>
                        <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body">
                        Your PReferences have been saved!
                    </div>
                </div>
            </div>

            <RadzenDataGrid Data="@Associations" 
            TItem="UserAssociatedProjectsDto"
            Style="height:500px ; width:80% ; margin: auto ; margin-top:10vh;"
            AllowPaging="true"
            PagerPosition=PagerPosition.Bottom
            PagerHorizontalAlign=HorizontalAlign.Right
            PageSizeOptions="@pageSizeOptions"
            GridLines="Radzen.DataGridGridLines.Both"
            AllowColumnResize="true"
            ColumnResized=@gridPreferencesSaver.OnColumnResized
            AllowColumnReorder="true"
            ColumnReordered=@gridPreferencesSaver.OnColumnReordered
            AllowColumnPicking="true"
            PickedColumnsChanged="@gridPreferencesSaver.PickedColumnsChanged">
                <HeaderTemplate>
                    <div class="d-flex align-items-center">
                        <RadzenButton Text="Add Association" Click="HandleAddAssociation" Icon="add_circle" />
                        <button class="btn btn-primary" @onclick="SavePreferencesHandler">
                            save preferences
                        </button>
                    </div>
                </HeaderTemplate> 
                <Columns> 
                    <RadzenDataGridColumn TItem="UserAssociatedProjectsDto"
                    Property="UserName"
                    Title="UserName"
                    Width="@GridState["UserName"].Width"
                    OrderIndex="@GridState["UserName"].OrderIndex"
                    Visible="@GridState["UserName"].Visible" />

                    <RadzenDataGridColumn TItem="UserAssociatedProjectsDto"
                    Property="RoleName"
                    Title="RoleName"
                    Width="@GridState["RoleName"].Width"
                    OrderIndex="@GridState["RoleName"].OrderIndex"
                    Visible="@GridState["RoleName"].Visible" />

                    <RadzenDataGridColumn TItem="UserAssociatedProjectsDto"
                    Property="CreatedDate"
                    Title="CreatedDate"
                    Width="@GridState["CreatedDate"].Width"
                    OrderIndex="@GridState["CreatedDate"].OrderIndex"
                    Visible="@GridState["CreatedDate"].Visible" />

                    <RadzenDataGridColumn TItem="UserAssociatedProjectsDto"
                    Property="CreatedBy"
                    Title="CreatedBy"
                    Width="@GridState["CreatedBy"].Width"
                    OrderIndex="@GridState["CreatedBy"].OrderIndex"
                    Visible="@GridState["CreatedBy"].Visible" />

                    <RadzenDataGridColumn TItem="UserAssociatedProjectsDto"
                    Property="ModifiedDate"
                    Title="ModifiedDate"
                    Width="@GridState["ModifiedDate"].Width"
                    OrderIndex="@GridState["ModifiedDate"].OrderIndex"
                    Visible="@GridState["ModifiedDate"].Visible" />

                    <RadzenDataGridColumn TItem="UserAssociatedProjectsDto"
                    Property="ModifiedBy"
                    Title="ModifiedBy"
                    Width="@GridState["ModifiedBy"].Width"
                    OrderIndex="@GridState["ModifiedBy"].OrderIndex"
                    Visible="@GridState["ModifiedBy"].Visible" />

                    <RadzenDataGridColumn TItem="UserAssociatedProjectsDto"
                    Property="IsActive"
                    Title="IsActive"
                    Width="@GridState["IsActive"].Width"
                    OrderIndex="@GridState["IsActive"].OrderIndex"
                    Visible="@GridState["IsActive"].Visible" />

                    <RadzenDataGridColumn TItem="UserAssociatedProjectsDto" 
                    Title="Actions"
                    Frozen="true"
                    FrozenPosition="FrozenColumnPosition.Right"
                    TextAlign="TextAlign.Center"
                    Reorderable="false"
                    Resizable="false"
                    Width="100px">
                        <Template Context="association"> 
                            @if (association.IsActive) 
                            { 
                                <RadzenButton Icon="delete" ButtonStyle="ButtonStyle.Danger" Size="ButtonSize.Small" 
                                Click="@(() => DeleteAssociation(association))" /> 
                            } 
                        </Template> 
                    </RadzenDataGridColumn> 
                </Columns> 
            </RadzenDataGrid>
        }
        else
        {
            <h1>Please wait ...</h1>
        }
    </Authorized>
    <NotAuthorized>
        <NotAuthorizedPage />
    </NotAuthorized>
</AuthorizeView>

