@page "/admin"
@rendermode InteractiveServer

<PageTitle>Admin Portal</PageTitle>

<!-- Modal to Add User -->
<div class="modal fade" id="AddUserModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content">
			<div class="modal-header">
				<h1 class="modal-title fs-5" id="AddUserModalLabel">User Details</h1>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
			</div>
			<div class="modal-body">
				<EditForm Model="@AdminAddUserForm" OnSubmit="AddUserSubmitHandler">
					<div class="d-flex flex-column align-items-center">
						<InputText @bind-Value="AdminAddUserForm.UserName" placeholder="Username" class="d-block mb-2 w-75" />
						<InputText @bind-Value="AdminAddUserForm.Password" placeholder="Password" class="d-block mb-3 w-75" />
					</div>
					<div class="modal-footer">
						<button type="submit" class="btn btn-primary">Add User</button>
					</div>
				</EditForm>
			</div>
		</div>
	</div>
</div>

<div class="admin_portal_container bg-light min-vh-100">

	<!-- NavBar -->

	<div class="bg-secondary">
		<h1 class="text-center text-white py-3">Admin Portal</h1>
	</div>

	<div class="w-75 mx-auto">

		<!-- Search Bar -->

		<div class="d-flex mb-3 ">
			<input type="text" class="form-control me-2 w-25" placeholder="Search by username..." @bind="SearchText" />
			<button class="btn btn-info" @onclick="SearchUsers">Enter</button>
		</div>

		<!-- Add User -->

		<div>
			<button type="button" class="btn btn-dark rounded-0" data-bs-toggle="modal" data-bs-target="#AddUserModal">
				Add User
			</button>
		</div>


		<!-- Data Table -->
		<div class="table-container mb-4">
			<table class="table table-responsive table-striped table-bordered table-fs align-middle table-custom">
				<thead>
					<tr>
						<th class="userid">UserId</th>
						<th>UserName</th>
						<th>Password</th>
						<th>CreatedDate</th>
						<th>CreatedBy</th>
						<th>ModifiedDate</th>
						<th>ModifiedBy</th>
						<th>Status</th>
						<th>Edit</th>
						<th>Delete</th>
					</tr>
				</thead>

				<tbody >
					@if (UserDetails != null)
					{
						foreach (var user in UserDetails)
						{
							<tr>
								<td >@user.UserId</td>
								@if (user.IsEdit == false)
								{
									<td >@user.UserName</td>
									<td >@user.Password</td>
								}
								else
								{
									<td ><input @bind-value="user.UserName" class="" /></td>
									<td ><input @bind-value="user.Password" class="" /></td>
								}
								<td >@user.CreatedDate</td>
								<td >@user.CreatedBy</td>
								<td >@((user.ModifiedDate?.ToString() ?? "-"))</td>
								<td >@((user.ModifiedBy?.ToString() ?? "-"))</td>
								<td >@user.IsActive</td>

								@if (user.IsEdit == false)
								{
									<td ><button type="button" class="btn btn-primary table-fs equal-width-btn" @onclick="() => HandleEdit(user)">Edit</button></td>
									<td ><button type="button" class="btn btn-danger table-fs" @onclick="() => HandleEdit(user)">Delete</button></td>
								}
								else
								{
									<td >
										<button type="button" class="btn btn-success table-fs equal-width-btn" @onclick="() => HandleSubmit(user)">Save</button>
									</td>
									<td >
										<button type="button" class="btn btn-warning table-fs" @onclick="() => HandleCancel(user)">Cancel</button>
									</td>
								}
							</tr>
						}
					}
				</tbody>
			</table>
		</div>

		<!-- Pagination -->
		<nav >
			<ul class="pagination justify-content-center">
				<li class="page-item @(pagination.IsPrevious ? "" : "disabled")">
					<button class="page-link" @onclick="pagination.PreviousPage">Previous</button>
				</li>

				@for (int i = 1; i <= pagination.TotalPages; i++)
				{
					int PageNumber = i;

					<li class="page-item @(PageNumber == pagination.CurrentPage ? "active" : "")">
						<button class="page-link" @onclick="()=>pagination.ChangePage(PageNumber)">@PageNumber</button>
					</li>
				}

				<li class="page-item @(pagination.IsNext ? "" : "disabled")">
					<button class="page-link" @onclick="pagination.NextPage">Next</button>
				</li>
			</ul>
		</nav>

		@* <div class="dropup-center dropup dropup-custom"> *@
		@* 	<button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false"> *@
		@* 		Centered dropup *@
		@* 	</button> *@
		@* 	<ul class="dropdown-menu"> *@
		@* 		<li><a class="dropdown-item" href="#">Action</a></li> *@
		@* 		<li><a class="dropdown-item" href="#">Action two</a></li> *@
		@* 		<li><a class="dropdown-item" href="#">Action three</a></li> *@
		@* 	</ul> *@
		@* </div> *@
	</div>

</div>